@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");


h1{
    color: rgb(57, 60, 230);
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
}
body{
    background: orange;
}