*{
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
}

body{
    background: linear-gradient(184deg, rgba(189,190,190,1) 0%, rgba(255,253,252,1) 100%) fixed;
    padding: 16px;
    /*border: 2px solid black;*/
    border-radius: 5px;
    margin: 0;         
}   

.underline{
    text-decoration: underline;
}
.centered-header {text-align: center;
}

#foto-section{
    width: 250px;
}

#my-foto{
    border-radius: 8px;
    width: 200px;
}

.heading-figure{
    border-radius: 100%;
}

header{text-align: center;
    background-color: cadetblue;
    position: sticky;
    top: 0;
    border-radius: 8px;
    font-size: 120%;  
}

/*section{
    font-size: 20px;
}*/

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-section {
    border: 2px solid black;
    border-radius: 8px;
}

.vertical-text{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 100%;
}

.flex-container2 {
    display: flex;
    align-items: center;
}

ol {
    line-height: 2.0;
}

@media only screen and (max-width: 600px){
    .flex-container{
        flex-direction: column;
    }
    .flex-container2{
        max-width: 20px;
    }
    #foto-section{
        width: 200px;
    }

}
